{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_tags %}

{% block title %}
News
{% endblock title %}


{% block content %}

   <form action="" method="get">
       {# Переменная, которую мы передали через контекст, может сгенерировать нам форму с полями #}
       {{ filterset.form.as_p }}
       {# Добавим кнопку отправки данных формы #}
       <input type="submit" value="Найти" />
   </form>
   {% if not is_author %}
    <button>
        <a class="nav-link" href="{% url 'account_upgrade' %}">
            <h4><strong>Join the authors!</strong></h4>
        </a>
    </button>
    {% endif %}
   <h1>Все новости и статьи</h1>
   <hr>
    {% if perms.news.add_post %}
    <a href="{% url 'new_create' %}">Добавить Новость\Статью</a>
    {% endif %}
   {% if news %}
       <table>
           <tr>
               <td>Название</td>
               <td>Дата</td>
               <td>Превью</td>
                {% if perms.news.change_post or perms.news.delete_post %}
                <td>Действия</td>
                {% endif %}
           </tr>

           {% for new in news %}
           <tr>
               <td><a href="./{{ new.pk }}">{{ new.title|censor }}</a></td>
               <td>{{ new.creation_date }}</td>
               <td>{{ new.text|censor|truncatechars:20 }}</td>
               <td>
                    {# А здесь доступ для каждой ссылки теперь будем проверять отдельно #}
                    {% if perms.news.change_post %}
                    <a href="{% url 'new_update' pk=new.id %}">Изменить</a>
                    {% endif %}
                    {% if perms.news.delete_post %}
                    <a href="{% url 'new_delete' new.id %}">Удалить</a>
                    {% endif %}
               </td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Статей и новостей нет!</h2>
   {% endif %}


 {% if page_obj.has_previous %}
       {# Для каждой ссылки пагинации указываем обработку через новый тег #}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}
